.filter {
    border: 1px solid #e9e9ef;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.filter:hover {
    background-color: black;
    color: white;
}

.selected {
    background-color: black;
    color: white;
  }