.header_container{
    padding: 0 90px;
}
.header{
  width:100% ;
   padding: 20px 0;
   display: flex;
   justify-content: space-between;

}
.maincontainer {
  color: white;
  background-image: url("../../public/images/bg-4.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.headsection{
  padding: 92px 92px 164px 92px;
}
.middlesection{
  margin-top: 176px;
  text-align: center;
}
.sellerbox{
  padding: 125px 120px 120px 150px;
  background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 72px;
   
    gap: 40px;
}
.startsellingbtn{
  background-color: black !important;
    width: 190px;
    height: 50px;
    color: white;
    margin-top: 20px;
    border: none !important;
    border-radius: 0 !important;
}
.headercontainer{
  padding: 0 90px;
}
.signupimg{
  max-width: 551px;
    max-height: 551px;
    border-radius: 50%;
    overflow: hidden;
}
.passwordbox{
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  border-radius:0;
  border:1px solid #CDCDCD
}
.placeholder-color::placeholder {
  color: #E9E9E9; /* Change the color value as needed */
}
.signupimg img{
  width: 100%;
}
.headercontainer{
  padding: 125px 120px 120px 150px;
}
.outerWrapper{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.leftcontainer{
  line-height: 48px;
  width:100%;
  max-width: 472px;
  min-width: 300px;
  /* width: 38%; */
}
.inputfield{
  border-radius: 0;
  /* background: none; */
  height: 60px;
  border: 1px solid #CDCDCD !important;

background-color: #FFF !important


}
.form-control{
  border-radius:0
}

.inputfield::placeholder {
  color: black;
}
.inputfield:focus {
  outline: none; 
  /* border: 1px solid #CDCDCD; */
  border: none;

}
.flagimg{
  width: 19px;
   margin-right: 5px;
}
.subtitle{
  font-size: 12px;
  line-height: 45px;
}
.uploadfile{
  background-color: black;
  border-radius: 32px;
  color: white;
  padding: 0 18px;
  margin-bottom: 0;
  height: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;

}
.filediv{
  display: flex;
  align-items: center;
  border: 1px solid #CDCDCD;
  justify-content: space-between;
  padding: 0 0.75rem;
  height: 60px;

}
/* input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background:black;
  padding: 10px 20px;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
} */

/* input[type=file]::file-selector-button:hover {
  background: #0d45a5;
} */
@media only screen and (min-width: 600px){
  .signupimg{
width: 100%;
  }
  /* .passwordbox{
    width: 39px;
    height: 39px
  } */
}
@media only screen and (min-width:1700px){
  .leftcontainer{
    max-width: 576px;
  }
  .passwordbox{
    width: 39px;
    height: 39px
  }
}
@media only screen and (max-width:960px){
  .outerWrapper{
    flex-direction: column-reverse;
  }

}
@media only screen and (min-width: 961px) and (max-width: 1103px){
  .passwordbox{
    width: 35px;
      height: 35px
  }
    }