.header_container {
  padding: 0 130px;
  background:#fff;
}

.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.vendor_container{
  position:relative;
  background:#000;


  .vector_svg{
    width:100%;

    position:absolute;
    top:400px;
    left:0;
    z-index:1;
  }
  .delivery_boy{
    position:absolute;
    background:#15151550;
    width:450px;
    height:450px;

    top:350px;
    right:100px;
    z-index:999;
    overflow:hidden;
    border-radius:50%;

    .delivery_boy_svg{
      width:100%;
      height:100%;

    }

  }

}
.maincontainer {
  /* width:100vw; */
  color: #fff;
  /* background-image: url("../../public/images/bg-4.png");
  background-size: 100% 100%;
  background-position:center;
  background-repeat: no-repeat; */
  height:450px;
  z-index:999;

}

.headsection {
  padding: 110px 126px ;

  h1{
    padding-bottom:10px;
    margin:0;
  }
  h6{
    padding-bottom:30px;
  }
  button{
    /* border-radius:0; */
  }
}

.middlesection {
  margin:auto;
  margin-top: 250px;
  text-align: center;
  width:650px;
  color: #fff;
}

.sellerbox {
  padding: 125px 120px 120px 150px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding-top: 72px;
  gap: 40px;
  color:#212121;

  .box{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:600px;
    padding:34px;
    background:#FFF;
    box-shadow:0 0 20px #787878;
    border-radius:4px;
  }
}

.startsellingbtn {
  background-color: black !important;
  width: 190px;
  height: 50px;
  color: white;
  margin-top: 20px;
  border: none !important;
  /* border-radius: 0 !important; */
}

.headercontainer {
  padding: 0 129px;
}

.signupimg {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.passwordbox {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  border-radius: 0;
  border: 1px solid #CDCDCD
}

.placeholder-color::placeholder {
  color: #E9E9E9;
  /* Change the color value as needed */
}

.signupimg img {
  width: 100%;
}

.headercontainer {
  padding: 45px 120px 90px 129px;
}

.outerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 0 129px;
}

.leftcontainer {
  line-height: 48px;
  width: 100%;
  max-width: 472px;
  min-width: 300px;
  /* width: 38%; */
}

.inputfield {
  border-radius: 0px;
  /* background: none; */
  height: 60px;
  border: 1px solid #CDCDCD ;

  background-color: #FFF !important;
}

.inputfield::-webkit-inner-spin-button,
.inputfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  border-radius: 0px
}

.inputfield::placeholder {
  color: black;
}

.inputfield:focus {
  outline: none;
  /* border: 1px solid #CDCDCD; */
  border: none;

}

.flagimg {
  width: 19px;
  margin-right: 5px;
}

.subtitle {
  font-size: 12px;
  line-height: 25px;
}

.uploadfile {
  background-color: black;
  border-radius: 32px;
  color: white;
  padding: 0 18px;
  margin-bottom: 0;
  height: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;

}

.filediv {
  display: flex;
  align-items: center;
  border: 1px solid #CDCDCD;
  justify-content: space-between;
  padding: 0 0.75rem;
  height: 60px;

}

.countryCode{
  position:absolute;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  left:110px;
  z-index:999;
}

/* input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background:black;
  padding: 10px 20px;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
} */

/* input[type=file]::file-selector-button:hover {
  background: #0d45a5;
} */
@media only screen and (min-width: 600px) {
  .signupimg {
    width: 100%;
  }

  /* .passwordbox{
    width: 39px;
    height: 39px
  } */
}

@media only screen and (min-width:1700px) {
  .leftcontainer {
    max-width: 576px;
  }

  .passwordbox {
    width: 39px;
    height: 39px
  }
}

@media only screen and (max-width:960px) {
  .outerWrapper {
    flex-direction: column-reverse;
  }

}

@media only screen and (min-width: 961px) and (max-width: 1103px) {
  .passwordbox {
    width: 35px;
    height: 35px
  }
}