.inputfield{
    /* height: 50px; */
    border: 1px solid #CDCDCD !important;
    background-color: white!important;
    border-radius: 0 !important;
}
.edit{
   width: 100%;
   display: flex;
   justify-content: end;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #efeded;
    display: flex;
    justify-content: center;
    align-items: center;
}
.labeldiv{
    width: 18%;
}
.status{
    padding: 0px;
    background-color: #ffffff;
    font-weight: 600;
   /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.errmsg{
    color: red;
}